*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
body{
    background: $body-color;
}
.btn1{
    padding: 15px 32px;
    background: $main-color;
    color: $white-color;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    margin-right: 40px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    @include media-breakpoint-down(md){
        font-size: 18px;
        padding: 12px 25px;
    }
}
.btn2{
    padding: 18px 32px;
    outline: none;
    border: 2px solid $main-color;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background: transparent;
    color: $main-color;
    font-size: 20px;
    font-weight: 700;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    @include media-breakpoint-down(md){
        font-size: 18px;
        padding: 12px 25px;
    }
    &:hover{
        background: $main-color;
        color: $white-color;
    }
}