$black-color: #313131;
$main-color: #6344C6;
$white-color: #fff;
$text-color: #626262;
$secondary-white: #F3F3F3;
$border-color: #c4c4c4;
$original-black: #000;
$black-secondary: #939393;
$body-color: #F5F5F5;