.subscribe{
    background: $main-color;
    padding: 50px;
    border-radius: 8px;
    margin: 120px 0;
    @include media-breakpoint-down (md){
        margin: 30px 0;
        padding: 20px;
    }
    .subscribe_left{
        h2{
            font-size: 48px;
            color: $white-color;
            font-weight: 700;
            line-height: 55px;
            margin-bottom: 8px;
            @include media-breakpoint-down(md){
                font-size: 35px;
                line-height: 40px;
            }
        }
        p{
            font-size: 18px;
            color: $white-color;
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 0px !important;
            @include media-breakpoint-down(md){
                font-size: 16px;
                line-height: 24px;
            }
        }

    }
    .subscribe_right{
        padding-top: 50px;
        // position: relative;
        // display: flex !important;
        // align-self: center !important;
        // align-content: center !important;
        // align-items: center !important;
        @include media-breakpoint-down(md){
            padding-top: 30px;
        }

        .subscribe_form{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;

            input{
                width: 100%;
                padding: 17px 80px 17px 17px;
                font-size: 18px;
                line-height: 30px;
                color: $text-color;
                font-weight: 400;
                border-radius: 8px;
                border: none;
                outline: none;
                // &:focus-visible{
                //     border: none;
                //     outline: none;
                // }
            }
            button{
                padding: 8px 16px;
                font-size: 24px;
                color: $white-color;
                background: $main-color;
                border: none;
                outline: none;
                border-radius: 8px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                display: flex;
                align-items: center;
            }
        }

    }
}