.service_left{
    margin: 200px 0;
    margin-right: 100px;
    @include media-breakpoint-down(md){
        margin: 70px 0;
    }
    h4{
        font-size: 40px;
        color: $black-color;
        font-weight: 700;
        line-height: 50px;
        span{
            color: $main-color;
        }
        @include media-breakpoint-down(md){
            font-size: 35px;
        }
    }
    p{
        
        font-size: 18px;
        color: $black-secondary;
        font-weight: 400;
        line-height: 30px;
        margin: 24px 0 40px;
        @include media-breakpoint-down(md){
            font-size: 16px;
            line-height: 24px;
        }
    }
}
.service_right{
    margin-top: 146px;
    @include media-breakpoint-down(md){
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .service_item{
        background: $white-color; 
        width: 100%;
        display: flex;
        border-radius: 8px;
        padding: 24px 24px;
        box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.10);
        transition: all linear .3s;
        margin-bottom: 24px;
        overflow-y: auto;
        &:hover{
            transform: translateX(60px);
            @include media-breakpoint-down(md){
                transform: translateX(0px);
                transform: scale(1.05);
            }
        }
        @include media-breakpoint-down(md){
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            padding: 15px;
            margin-bottom: 20px;
        }
        .service_logo{
            background: $main-color;
            height: 64px;
            width: 64px;
            text-align: center;
            line-height: 64px;
            border-radius: 50%;
            margin-right: 24px;
            @include media-breakpoint-down(md){
                margin-bottom: 15px;
            }

        }
        .service_txt{
            width: 70%;
            h4{
                font-size: 24px;
                font-weight: 700;
                color: $black-color;
                margin-bottom: 8px;
                @include media-breakpoint-down(md){
                    font-size: 20px;
                    width: 100%;

                }
            }
            p{
                font-size: 18px;
                font-weight: 400;
                color: $text-color;
                line-height: 30px;
                margin-bottom: 0 !important;
                @include media-breakpoint-down(md){
                    font-size: 16px;
                    line-height: 24px;
                }
            } 
        }
        
    }
}